*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.list{
    display: flex;
    list-style: none;
    font-size: 1.3rem;
    justify-content: end;
    align-items: center;
    height: 65px;
}
.list li{
    padding:8px;
    cursor: pointer;
}
.list li a{
    text-decoration: none;
    color: rgba(0,0,0,.87);
}
.list li:hover, .last-container li a:hover{
    text-decoration: underline;
}
.menu{
    width: 16px;
    cursor: pointer;
}
.perfil{
    width: 32px;
    border-radius: 50px;
    cursor: pointer;
}
.menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
}
.menu-container:hover{
    border-radius: 50px;
    background-color: lightgrey;
   
}
.perfil-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    margin-right: 18px;
}
.perfil-container:hover{
    background-color: lightgrey;
}  
.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   max-width: 500px; 
}
.logo{
    width: 60%;
    margin: 38px;
}
.barra-buscadora{
    display: flex;
    align-items: center;
    justify-content: center;
}
.barra-buscadora:hover{
    box-shadow: 0px 0px 5px 2px rgb(223, 223, 223);
    border-radius: 50px;
}
.lupa{
    height: 18px;
}
.lupa-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.microfono{
    height: 18px;
    cursor: pointer;
}
.microfono-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.input-buscador{
    border-left: none;
    border-right: none;
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    height: 42px;
    width: 500px;
    font-size: 1.6rem;
}
.input-buscador:focus{
   outline: none; 
}
.botones input{
    border: none;
    border-radius: 4px;
    background-color: #f8f9fa;
    color: #3c4043;;
    padding: 12px;
    margin: 28px 8px;
    cursor: pointer;
    font-size: 1.4rem;
    border: 1px solid #f8f9fa;
}
.botones input:hover{
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}
.separador{
    height: 100px;
}
.last-container{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding: 0 20px;
background-color: rgb(233, 233, 233);
border-top: 1px solid #dadce0;
}
.nav-right{
    order: 2;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.nav-left{
    order: 1;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.last-container li a{
    text-decoration: none;
    color: #70757a;
    font-size: 1.4rem;
}
.last-container li{
    padding: 15px;
}